* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #FDFBD4;
    color: #4A312C
}

header nav {
    background-color: #613613;
    color: #EFDECD;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

header nav a {
    margin-right: 50px;
    text-decoration: none;
    color: #EFDECD;

}

header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form button[type="submit"] {
    background-color: #FDFBD4;
    cursor: pointer;
    /**/
    transition: backgroung-color 0.2s ease-in-out;
    /**/

}

form button[type="submit"]:hover {
    background-color: #CEBAA8;
}

form input[type="text"],
form button[type="submit"] {
    border: none;
    padding: 10px;
    border-radius: 2px;
}

.recipe-container {
    margin-top: 10px;
    text-align: center;
}

footer {


    background-color: #613613;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color:#EFDECD;
    text-align: center;

}

@media screen and (max-width:600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 80px;
        margin-top: 20px;
    }

}